
@{
    ViewBag.Title = "YetenekEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div>
    <form method="post" class="form-group">
        <div>
            <label>Yetenek</label>
            <input type="text" class="form-control" name="Yetenek" />
        </div>
        <div>
            <label>Oran</label>
            <input type="text" class="form-control" name="Oran" />
        </div>
        <div>
            <button type="submit" class="btn btn-info">Ekle</button>
        </div>
    </form>
</div>
