
@{
    ViewBag.Title = "SertifikaEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post" class="table table-bordered">
    <div>
        <label>Tarih</label>
        <input type="text" name="Tarih" class="table table-bordered"/>
    </div>
    <div>
        <label>Açıklama</label>
        <input type="text" name="Aciklama" class="table table-bordered"/>
    </div>
    <div>
       <button type="submit" class="btn btn-info">Ekle</button>
    </div>
</form>

